nav {
    background-color: transparent;
    width: 100vw;
    height: 60px;
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
}
    nav h2 {
        font-family: 'Playfair Display', serif;
        color: white;
    }
    nav img {
        margin-left: 20px;
        margin-right: 10px;
        height: 35px;
        width: 35px;
        transition: scale 0.5s;
    }
    nav img:hover {
        scale: 1.1;
    }

.footer {
    font-size: 1rem;
    line-height: 20px;
    background-color: hsl(0, 0%, 15%);
    color: hsl(0, 0%, 60%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}