body {
    margin: 0;
}

div {
    margin: 10px;
}

nav {
    background-color: aquamarine;
    width: 100vw;
    height: 60px;
    position: fixed;
    top: 0px;
}

h2 {
    padding-left: 10px;
    margin: 0;
    line-height: 60px;
}

.abstract-parent {
    display: flex;
    justify-content: center;
}
.abstract {
    width: 90vw;
    height: 400px;
    background-color: rgb(215, 179, 111);
    border-radius: 15px;
    margin-top: 80px;
}

.radio-parent {
    display: flex;
    justify-content: space-evenly;
}
.radio {
    width: 40vw;
    height: 400px;
    padding: 20px;
    background: #fbdaff;
    vertical-align: top;
    border-radius: 15px;
}

.result-parent {
    display: flex;
    justify-content: center;
}
.result {
    width: 90vw;
    height: 40px;
    background-color: rgb(215, 179, 111);
    text-align: center;
    border-radius: 5px;
}

#submit-btn {
    margin-top: 40px;
}