@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
    color: white;
    line-height: 30px;
    background: radial-gradient(at 57% 7%, hsl(302,92%,60%) 0px, transparent 50%),
                        radial-gradient(at 81% 98%, hsl(176,95%,79%) 0px, transparent 50%),
                        radial-gradient(at 50% 65%, hsl(234,71%,65%) 0px, transparent 50%),
                        radial-gradient(at 46% 51%, hsl(201,98%,71%) 0px, transparent 50%),
                        radial-gradient(at 29% 13%, hsl(3,88%,61%) 0px, transparent 50%),
                        radial-gradient(at 35% 99%, hsl(40,64%,63%) 0px, transparent 50%),
                        radial-gradient(at 54% 29%, hsl(246,72%,66%) 0px, transparent 50%),
                        #ff99d1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav {
    background-color: transparent;
    width: 100vw;
    height: 60px;
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
    nav h2 {
        font-family: 'Playfair Display', serif;
        color: white;
    }
    nav img {
        margin-left: 20px;
        margin-right: 10px;
        height: 35px;
        width: 35px;
        transition: scale 0.5s;
    }
    nav img:hover {
        scale: 1.1;
    }
a {
    font-weight: 700;
    color: currentColor;
    text-decoration: none;
}
    a:hover {
        filter: brightness(130%);
    }


form {
    margin-top: 100px;
    margin-bottom: 50px;
    width: 70%;
    backdrop-filter: brightness(95%);
    box-shadow: hsla(0, 0%, 0%, 0.5) 0 0 10px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    --font-color: hsla(0, 0%, 100%, 0.8);
    color: var(--font-color);
}
form > p {
    text-align: center;
}

.radio-parent {
    display: flex;
    gap: 20px;
}
    .radio-item {
        vertical-align: top;
    }
    fieldset {
        margin-block: 10px;
        margin-inline: 0;
        border: 1px solid var(--font-color);
        border-radius: 5px;
        display: flex;
        accent-color: var(--font-color);

    }
    #radio-options {
        display: flex;
        justify-content: space-around;
        margin-block: 40px;
        gap: 30px;
    }
        #model-select {
            background: hsla(0, 0%, 100%, 0);
            color: var(--font-color);
            border: 1px solid var(--font-color);
            border-radius: 5px;
            padding: 10px;
            flex-basis: 100%;
            text-align: center;
            transition: 0.3s;
        }
            #model-select:hover {
                background: hsla(0, 0%, 100%, 0.1);
            }
            #model-select option {
                color: hsl(0, 0%, 15%);
            }
        #submit-btn {
            background: hsla(0, 0%, 100%, 0);
            color: var(--font-color);
            border: 1px solid var(--font-color);
            border-radius: 5px;
            padding: 10px;
            flex-basis: 100%;
            text-align: center;
            transition: 0.3s;
        }
            #submit-btn:hover {
                background: hsla(0, 0%, 100%, 0.1);
            }


#footer {
    font-size: 1rem;
    line-height: 20px;
    width: 100%;
    background-color: hsl(0, 0%, 15%);
    color: hsl(0, 0%, 60%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    text-align: center;
    margin-bottom: 0;
}